@model Partosazancnc.Models.ProductType

@{
    ViewBag.Title = "ویرایش دسته بندی";
}

<h2>ویرایش دسته بندی </h2>

@using (Html.BeginForm("Edit", "ProductTypes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model=>Model.image)
    @Html.HiddenFor(Model=>Model.ProductTypeId)
    <div class="row">
        <div class="col-md-8">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = " col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Discription, htmlAttributes: new { @class = " col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class=" col-md-10">
                        <input type="submit" value="ثبت" class="btn btn-success" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.image, htmlAttributes: new { @class = " col-md-12" })
                <div class="col-md-10">
                    <img src="/img/Products/type/thumline/@Model.image" width="150" height="150" id="imges" />
                    <input type="file" name="img" id="img" />
                    @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


}

<div>
    @Html.ActionLink("بازگشت به صفحه قبل", "Index")
</div>
@section Scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imges').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#img").change(function () {
            readURL(this);
        });
    </script>
}

