@model Partosazancnc.Models.ViewModels.ContactUsViewModel

@using (Ajax.BeginForm("contactussave",new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "result",
    OnComplete = "success",
    OnBegin = "clear",
    LoadingElementId = "loading",
    LoadingElementDuration = 1000
})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailWebsite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailWebsite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailWebsite, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div id="alertdiv">
            <p id="result"></p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<script>
    function success() {
        var result = $("#result").html();
        if (result.toLowerCase() == 'true') {
            $("#result").html('اطلاعات با موفقیت ذخیره شد');
            $("#alertdiv").addClass("alert alert-success");
        } else {
            $("#result").html('خطا در ذخیره سازی اطلاعات ');
            $("#alertdiv").addClass("alert alert-danger");
        }
        $("#alertdiv").fadeTo(2000, 500).slideUp(500, function () {
            $("#alertdiv").slideUp(500);
        });
    }
    function clear() {
        $("#alertdiv").removeClass();
    }
</script>