@model Partosazancnc.Models.UserFaqs

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qdate)
        </dd>

       

    </dl>
</div>
