@using System.Configuration
@model Partosazancnc.Models.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "فراموشی رمز عبور";
}
<section style="background:url('/assets/images/demo/wall2.jpg')">

    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "sky-form boxed" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="SiteKey" id="SiteKey" />
                        <header>بازیابی کلمه عبور</header>
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <fieldset class="nomargin">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label margin-top-20" })
                                <label class="input">
                                    <i class="ico-append fa fa-envelope"></i>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </label>

                            </fieldset>

                            <footer class="celarfix">
                                <input type="submit" value="ارسال ایمیل" class="btn btn-info noradius pull-right" />
                            </footer>

                        </div>
                    }
                </div>
                <div class="col-md-3">

                </div>



            </div>
        </div>
    </div>
</section>
@section Scripts
{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@ConfigurationManager.AppSettings["RecapchaSiteKey"]', { action: 'homepage' }).then(function (token) {
                $("#SiteKey").val(token);
            });
        });
    </script>
}
